body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 100vh;
    transform-style: preserve-3d;
    overflow: scroll;
    transform: perspective(1000px);
}

.list img {
    width: 130px;
    height: auto;
    border-radius: 6px;
    transition: .5s;
    filter: brightness(0.15);
}

.list .item:hover {
    transform: translateZ(200px);
    filter: brightness(10);
}

.list .item:hover + * {
    transform: translateZ(150px) rotateY(40deg);
    filter: brightness(1.6);
}

.list .item:hover + * + * {
    transform: translateZ(70px) rotateY(20deg);
    filter: brightness(1.4);
}

.list .item:hover + * + * + * {
    transform: translateZ(30px) rotateY(10deg);
    filter: brightness(1.2);
}

.list .item:has(+ *:hover) {
    transform: translateZ(150px) rotateY(-40deg);
    filter: brightness(1.6);
}

.list .item:has(+ * + *:hover) {
    transform: translateZ(70px) rotateY(-20deg);
    filter: brightness(1.4);
}

.list .item:has(+ * + * + *:hover) {
    transform: translateZ(30px) rotateY(-10deg);
    filter: brightness(1.2);
}